<beans:beans xmlns="http://www.springframework.org/schema/beans" xmlns:sec="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oauth="http://www.springframework.org/schema/security/oauth2" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/security/oauth2
    http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <sec:http auto-config="true" use-expressions="true">
        <sec:intercept-url pattern="/signin/*" access="permitAll" />
        <sec:intercept-url pattern="/welcome*" access="isAuthenticated()" />
        <sec:intercept-url pattern="/*" access="permitAll" />
    </sec:http>

    <sec:authentication-manager>
<!--         <sec:authentication-provider> -->
<!--             <sec:user-service> -->
<!--                 <sec:user name="a" password="b" authorities="ROLE_USER" /> -->
<!--             </sec:user-service> -->
<!--         </sec:authentication-provider> -->
    </sec:authentication-manager>

</beans:beans>