/* Import all the mixins for this theme */
@import "dashboard.scss";


/* Font embeds and keyframe definitions need to be
 * on the top level of the stylesheet, not nested
 * with any selectors, so we output them here */
@include font-open-sans;
@include icons-fontello;
@include dashboard-keyframes;


/* Output the actual theme selectors */
.dashboard {
	@include dashboard;

	.content {
		background-color: white;
	}

	.v-window-maximizebox {
		background: none;
	}

	.v-datefield-popupcalendar .v-datefield-button {
		width: 24px;
		margin-right: -24px;
		height: 23px;
		background: transparent;
		border: none;
		padding: 0;
		background-image: url(../reindeer/datefield/img/popup-btn.png);
		cursor: pointer;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

